body {
    font-family: sans-serif;
    margin-top: 60px;
    
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}



.container{
      max-width: 800px;
      margin:0 auto;
      color:grey;
      font-family: sans-serif;
      padding-left:20px;
      padding-right:20px;
  
}

.para{
      color:red;
}
.mainpad{
    padding-left:160px;
    padding-right:160px;
}


.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-second {
    color: #fff;
    background-color: #88e188;
    border-color: #b6fcb6;
}


.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
}

.btn-red{
    color: #fff;
    background-color: #d9534f;
    border-color: #e89795; 
}

.headli{
    padding-left:160px;
    
}

.fip{
    padding-left:525px;
}

.lefthead{
    padding-left:60%;
}